
.highlight-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    padding: 2rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: rgb(240, 240, 240); 
}

.highlight-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
 

}

.highlight-item h2 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: #333;
}

.highlight-item p {
    text-align: center;
    color: #666;
}

.highlight-item svg {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #1888ff; 
}

.highlight-container.dark {
    background-color: rgb(37, 37, 37); 
}

.highlight-container.dark .highlight-item {
    background-color: rgb(37, 21, 21);
}

.highlight-container.dark .highlight-item h2,
.highlight-container.dark .highlight-item p {
    color: #ccc;
}

@media (min-width: 768px) {
    .highlight-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .highlight-container {
        grid-template-columns: repeat(4, 1fr); 
    }
}
